.search-bar { max-width: 600px ; margin: 0 auto 4rem }
.search-bar :where(input, button) {
    display: block ; width: 100% ; border: 3px solid #fff ; background: #000 ; color: #fff ; font-size: 1.88rem ;
    padding: 1.5rem ; margin-bottom: 1rem ; text-align: center ; outline: none
}
.search-bar input::placeholder { color: #888 ; font-size: 1.5rem }
.search-bar input {
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { -webkit-appearance: none ; margin: 0 }
    -moz-appearance: textfield ; appearance: textfield ; box-sizing: border-box
}
.search-bar button { cursor: pointer ; font-weight: bold ; border-width: 3px ; text-transform: uppercase }
.search-bar button:hover { background: #fff ; color: #000 }
@media (max-width: 768px) { .search-bar :where(input,  button) { font-size: 1.5rem ; padding: 1.2rem }}
