.err-msg { color: #ccc ; text-align: center ; margin: 8rem 0 ; border-top: 1px solid #e9e9e9 }
.err-code { font-weight: bold ; font-size: 27rem ; margin-top: -2.05rem }
.err-msg p { font-size: 2.375rem }

@media (max-width: 1080px) { .err-code { font-size: 41vw } .err-msg p { font-size: 4vw } }
@media (max-width: 768px) { .err-msg { padding: 3rem 3rem 0 }}
@media (max-width: 480px) { .err-msg { padding: 2rem 2rem 0 }}
