.homepage { padding: 0 ; transform: scale(0.9) }
.homepage .container { padding: 0 }
.homepage .hero { margin: 6rem 0 2rem }
.homepage .hero-big { font-size: 20rem }
.homepage .hero-small { font-size: 2.92rem }
.homepage .search-bar { margin: 4rem auto }
.homepage footer { border-top: none }

@media (max-width: 1280px) {
    .homepage .hero-big { font-size: 25vw }
    .homepage .hero-small { font-size: 3.65vw }
}
@media (max-width: 768px) { .homepage footer { padding-top: 1rem }}
