.homepage { transform: scale(0.8) }
.homepage .container { height: 95vh ; padding: 0 }
.homepage .hero { margin-bottom: 2rem }
.homepage .hero-big { font-size: 22rem }
.homepage .hero-small { font-size: 2.88rem }
.homepage .search-bar { margin: 4rem auto }
.homepage footer { border-top: none }

/* Mobile devices */
@media (max-width: 768px) { .homepage .container { padding-top: 5rem } .homepage .hero-big { font-size: 8rem }}
@media (max-width: 480px) { .homepage .container { padding-top: 4rem }}
